<!DOCTYPE html>
<html lang="en-US" style="scroll-behavior: smooth;">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />

    {% hook "seo" %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="google-site-verification" content="B7VZ7_ZGuREzdDKHasVoLKH5-ZrC3tewsR-ZAeA-odY" />
    <meta name="referrer" content="origin-when-cross-origin" />

    {# Cachebust the CSS/JS #}
    {% set assetVersion = 0.001 %}

    {# CSS #}
    {% do view.registerCssFile("/assets/css/main.css?v="~assetVersion) %}
</head>
<body class="{{ entry is defined ? entry.title|lower : "jaguar" }}-page font-sans">
    <header class="flex pt-6 pb-4">
        <div class="hidden md:flex w-1/4">
        </div>
        <div class="text-left px-4 w-full md:w-3/4 md:px-0">
            <h1 class="w-full md:w-1/2 float-left text-4xl md:pb-6"><a href="{{ siteUrl }}" class="text-black">{{ siteName }}</a></h1>
            <nav class="w-full text-left md:w-1/2 float-right md:text-right list-reset pb-6 md:pb-0 pt-5">
                <li class="inline-block px-2 pb-2">
                    <a href="/#registation" class="text-black">Registration</a>
                </li>
                <li class="inline-block px-2 pb-2">
                    <a href="/accommodation" class="text-black">Accommodation</a>
                </li>
                <li class="inline-block px-2 pb-2">
                    <a href="/taranaki" class="text-black">Taranaki</a>
                </li>
            </nav>
        </div>
        <div class="hidden md:flex w-1/4">
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="flex py-12">
        <div class="hidden md:flex w-1/4">
        </div>
        <div class="w-full px-4 md:w-3/4 md:p-0">
            <p class="text-sm text-grey">
                &copy; {{ now|date('Y') }} {{ siteName }}
            </p>
        </div>
        <div class="hidden md:flex w-1/4">
        </div>
    </footer>
<script>
    var form = document.getElementById("registationForm");
    form.reset();
</script>
{# Global site tag (gtag.js) - Google Analytics #}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129520023-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-129520023-1');
</script>

</body>
</html>
