{% extends 'layouts/layout' %}

{% block content %}

    <div class="flex">
        <div class="hidden md:flex w-1/4">
        </div>
        <div class="px-4 w-full md:w-3/4 md:px-0">
            <h2 class="pb-6">Accommodation options</h2>
            <div class="flex flex-wrap">
                {% for accomodation in entry.accomodation.all() %}
                    <div class="w-full leading-normal md:w-1/2 pb-8">
                        <h3 class="pb-2">{{ accomodation.accomodationName }}</h3>
                        <strong>Website:</strong> <a href="//{{ accomodation.website }}" class="text-black" target="_blank" rel="noreferrer noopener">{{ accomodation.website }}</a><br />
                        <strong>Phone:</strong> {{ accomodation.phone }}<br />
                        <strong>Email:</strong> <a href="mailto:{{ accomodation.email }}" class="text-black">{{ accomodation.email }}</a><br />
                        <strong>Rates/Info:</strong> {{ accomodation.ratesInfo|nl2br }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="hidden md:flex w-1/4">
        </div>
    </div>

{% endblock %}
