{% extends 'layouts/layout' %}

{% block content %}

    <div class="flex">
        <div class="hidden md:flex w-1/4">
        </div>
        <div class="px-4 w-full md:w-3/4 md:px-0">
            <img src="assets/img/taranaki-jaguars-nz.jpg" alt="{{ siteName }}" title="{{ siteName }}" />
            <div class="flex leading-normal pt-4 pb-8">
                <div class="w-auto pr-4">
                <p class="font-bold text-2xl">Date:</p>
                <p class="font-bold text-2xl">Rally HQ:</p>
                <p class="font-bold text-2xl">Facebook:</p>
                </div>
                <div class="w-auto">
                    <p class="text-2xl">2-5 April 2021</p>
                    <p class="text-2xl"><a href="https://goo.gl/maps/uThwMCUYiNs" class="text-black" target="_blank" rel="noreferrer noopener">Devon Hotel</a></p>
                    <p class="text-2xl"><a href="https://www.facebook.com/Jaguar-Rally-NZ-2021-527605144351550/" class="text-black" target="_blank" rel="noreferrer noopener">Jaguar Rally NZ 2021</a>-<a href="https://www.facebook.com/taranakijaguarclub" class="text-black" target="_blank" rel="noreferrer noopener">Taranaki Jaguar Club</a></p>
                </div>
            </div>
            {#<p class="text-2xl leading-normal md:pr-32 pb-6">
                <strong>Note:</strong> There is a number cap of 400 attendees - to hold your place please fill out the submission form below then you will be presented with information to pay a $50 deposit per person registering. If required a refund will be available for early cancellation of 80%.
            </p>#}
        </div>
        <div class="hidden md:flex w-1/4">
        </div>
    </div>

    <div class="flex">
        <div class="hidden md:flex w-1/4">
        </div>
        <div id="registation" class="px-4 w-full md:w-3/4 md:px-0">
            <h2 class="text-4xl pr-12 md:pr-0 pt-8 pb-4">Registrations for the 2021 National Rally have reached capacity.</h2>

            <p class="text-lg">We are now taking registrations on a waiting list.  This means you still may be able to attend as there will be people who have registered who will not be able to attend in 2021.  We will contact you as vacancies occur.</p>
            <br />
            <p class="text-lg">Email <a href="mailto:info@jaguarnzrally2021.com">info@jaguarnzrally2021.com</a> with your name and passengers name to go on the waiting list.  We will get back to you as soon as possible.</p>

            {#{% macro errorList(errors) %}
                {% if errors %}
                    <ul class="errors">
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endmacro %}

            {% from _self import errorList %}

            <form method="post" action="" accept-charset="UTF-8" id="registationForm" class="flex pb-20">
                {{ csrfInput() }}
                <input type="hidden" name="action" value="contact-form/send">
                {{ redirectInput('success?from={fromName}') }}
                <div class="w-full">
                    <div class="flex flex-wrap">
                        <div class="w-full md:w-1/2 md:pr-3">
                            <label for="firstName" class="w-full">Full Name* (Driver)</label>
                            <input type="text" id="firstName" name="fromName" value="{{ message.fromName ?? '' }}" required="required" class="w-full border border-black my-2 p-3" />
                            {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
                        </div>
                        <div class="w-full md:w-1/2 md:pl-3">
                            <label for="passenger" class="w-full">Passenger</label>
                            <input type="text" id="passenger" name="message[Passenger]" value="" class="w-full border border-black my-2 p-3" />
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <div class="w-full md:w-1/2 md:pr-3">
                            <label for="email" class="w-full">Email Address*</label>
                            <input type="email" id="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" required="required" class="w-full border border-black my-2 p-3" />
                            {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
                        </div>
                        <div class="w-full md:w-1/2 md:pl-3">
                            <label for="phone" class="w-full">Phone Number <span class="text-grey-darker">(Optional)</span></label>
                            <input type="tel" id="phone" name="message[Phone]" value="" class="w-full border border-black my-2 p-3" />
                        </div>
                    </div>
                    <div class="flex flex-wrap">
                        <label for="address" class="w-full">Full Street Address*</label>
                        <input type="text" id="address" name="message[Address]" required="required" class="w-full border border-black my-2 p-3" />
                    </div>
                    <div class="flex flex-wrap">
                        <div class="w-full md:w-1/2 md:pr-3">
                            <label for="car" class="w-full">Car Model, Year and Registration*</label>
                            <input type="text" id="car" name="message[Car/Year/Registration]" value="" required="required" class="w-full border border-black my-2 p-3" />
                        </div>
                        <div class="w-full md:w-1/2 md:pl-3">
                            <label for="club" class="w-full">Jaguar Club <span class="text-grey-darker">(Optional)</span></label>
                            <input type="text" id="club" name="message[Club]" value="" class="w-full border border-black my-2 p-3" />
                        </div>
                    </div>
                    <div class="flex">
                        <button type="submit" class="w-full bg-grey-darkest text-lg hover:bg-black text-white mt-6 p-4">Submit</button>
                    </div>
                </div>
            </form>#}
        </div>
        <div class="hidden md:flex w-1/4">
        </div>
    </div>

{% endblock %}
