{% extends 'layouts/layout' %}

{% block content %}

    <div class="flex">
        <div class="hidden md:flex w-1/4">
        </div>
        <div class="px-4 w-full md:w-3/4 md:px-0">
            <h2 class="text-4xl leading-normal py-4">Thanks for your registration {{ craft.app.request.getQueryParam('from') }}.</h2>
            <h3 class="text-2xl leading-normal font-normal pr-20">To finish your registration please deposit <strong>$50 PER PERSON</strong> into <strong>15-3953-0426485-01</strong> (TSB Bank Rally Account) with the reference number matching your vehicles registration submitted in the last step.</h3>
        </div>
        <div class="hidden md:flex w-1/4">
        </div>
    </div>

{% endblock %}
