{% extends 'layouts/layout' %}

{% block content %}

    <div class="flex">
        <div class="hidden md:flex w-1/4">
        </div>
        <div class="px-4 w-full md:w-3/4 md:px-0">
            <h2 class="text-2xl font-normal pb-6">Welcome to the region like no other. It’s unique, it’s legendary and it’s impressive - <a href="https://visit.taranaki.info/visit/home.aspx" class="text-black italic" target="_blank" rel="noreferrer noopener"><strong>Find out more</strong></a>.</h2>
            {% for images in entry.gallery.all() %}
                {% set image = images.image.one() %}
                <img src="{{ image.url('gallery') }}" class="pb-4" alt="{{ image.title }}" title="{{ image.title }}" />
            {% endfor %}
            <cite class="text-sm">Photography: Rob Tucker, Patrick Reynolds and Kim Ferens</cite>
        </div>
        <div class="hidden md:flex w-1/4">
        </div>
    </div>

{% endblock %}
